<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<style type="text/css">
	@import "compass/css3";
		div.editButton {
			position: absolute;
			top: 5px;
			right: 10px;
	}
		
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	li {
		float: left;
	}
	li a {
		display: block;
		color: white;
		text-align: center;
		padding: 16px;
		text-decoration: none;
	}
	
	input {
	  width: 100%;
	}
	
	select {
	  width: 100%;
	  min-widrg: 200px;
	}
	</style>
	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>  
	
	<script>
	function saveBio(mpid) {
		var text = document.getElementById("editClientBioTextArea").value;

		data = {
			clientBio: text
		};
		
		const updateClientInfo = (mpid) => {
      axios.patch(`/bios/${mpid}`, data)
      .then((res) => { if (res.status === 200){
        document.getElementById("clientBioText").innerHTML = text;
      	document.getElementById("editClientBioTextArea").value="";
      	document.getElementById("editButton1").click();
      }})
      .catch((e) => console.log(e.response.data.error))
    };
	
	  updateClientInfo('ABCD', data);
	}
	
	function cancelBio() {
		document.getElementById("editButton1").click();
		document.getElementById("editClientBioTextArea").value="";
	}
	
	function fillContactRow(client){
	  if (document.getElementById("newPosition"+client).value !== "" && document.getElementById("newName"+client).value !== ""){
		var newPosition= document.getElementById("newPosition"+client).value;
		var newName= document.getElementById("newName"+client).value;
		if (client === 'FC') {
  		var newDuration= document.getElementById("newDuration").value;
      var table=document.getElementById("fidessaContacts");
      var table_len=(table.rows.length)-1;
      var row = table.insertRow(table_len).outerHTML="<tr id='row"+client+table_len+"'><td id='positionRow"+client+table_len+"'>"+newPosition+"</td><td id='nameRow"+client+table_len+"'>"+newName+"</td><td id='durationRow"+client+table_len+"'>"+newDuration+"</td><td><ul><li><button id='save_button"+client+table_len+"' class='save align-middle btn btn-sm btn-outline-success my-2 my-sm-0' onclick='saveContactRow("+JSON.stringify(client+table_len)+")'>Save</button></li> <li><button class='delete align-middle btn btn-sm btn-outline-danger my-2 my-sm-0' onclick='deleteContactRow("+JSON.stringify(client+table_len)+")'>Delete</button></li> <li><button id='edit_button"+client+table_len+"' class ='edit align-middle btn btn-sm btn-outline-secondary my-2 my-sm-0' onclick='editContactRow("+JSON.stringify(client+table_len)+")'>Edit</button></li> <li><button id='cancel_button"+client+table_len+"' class='cancel align-middle btn btn-sm btn-outline-secondary my-2 my-sm-0' onclick='cancelContactChanges("+JSON.stringify(client+table_len)+")'>Cancel</button></li></ul></td></tr>";
      document.getElementById("newDuration").value="";
		} else if (client === 'CC') {
		  var newFidessaAdvocate= document.getElementById("newFidessaAdvocate").value;
			var table=document.getElementById("clientContacts");
			var table_len=(table.rows.length)-1;
			var row = table.insertRow(table_len).outerHTML="<tr id='row"+client+table_len+"'><td id='positionRow"+client+table_len+"'>"+newPosition+"</td><td id='nameRow"+client+table_len+"'>"+newName+"</td><td id='advocateRow"+client+table_len+"'>"+newFidessaAdvocate+"</td><td><ul><li><button id='save_button"+client+table_len+"' class='save align-middle btn btn-sm btn-outline-success my-2 my-sm-0' onclick='saveContactRow("+JSON.stringify(client+table_len)+")'>Save</button></li> <li><button class='delete align-middle btn btn-sm btn-outline-danger my-2 my-sm-0' onclick='deleteContactRow("+JSON.stringify(client+table_len)+")'>Delete</button></li> <li><button id='edit_button"+client+table_len+"' class ='edit align-middle btn btn-sm btn-outline-secondary my-2 my-sm-0' onclick='editContactRow("+JSON.stringify(client+table_len)+")'>Edit</button></li> <li><button id='cancel_button"+client+table_len+"' class='cancel align-middle btn btn-sm btn-outline-secondary my-2 my-sm-0' onclick='cancelContactChanges("+JSON.stringify(client+table_len)+")'>Cancel</button></li></ul></td></tr>";
		  document.getElementById("newFidessaAdvocate").value="";
		}
		document.getElementById("save_button"+client+table_len).disabled = true;
		document.getElementById("cancel_button"+client+table_len).hidden = true;
							 
	  document.getElementById("newPosition"+client).value="";
		document.getElementById("newName"+client).value="";
	  }
		document.activeElement.blur()
	}
	
	function addContactRow(client, mpid)
	{
	  if (document.getElementById("newPosition"+client).value !== "" && document.getElementById("newName"+client).value !== ""){
		var newPosition= document.getElementById("newPosition"+client).value;
		var newName= document.getElementById("newName"+client).value;
		if (client === 'FC') {
			var newDuration= document.getElementById("newDuration").value;
			var coverage = newDuration.split('-');
			var coverageStart = coverage[0];
			var coverageEnd = coverage[1];
			
			const data = {
			  position: newPosition,
			  name: newName,
			  coverageStart: coverageStart,
			  coverageEnd: coverageEnd,
			  mpid: mpid,
			}
			
			const addCoverageContacts = (data) => {
			  axios.post(`/coverage`, data)
			  .then((res) => { if (res.status === 200){
			    var table=document.getElementById("fidessaContacts");
    			var table_len=(table.rows.length)-1;
    			console.log(table_len)
    			var row = table.insertRow(table_len).outerHTML="<tr id='row"+client+table_len+"'><td id='positionRow"+client+table_len+"'>"+newPosition+"</td><td id='nameRow"+client+table_len+"'>"+newName+"</td><td id='durationRow"+client+table_len+"'>"+newDuration+"</td><td><ul><li><button id='save_button"+client+table_len+"' class='save align-middle btn btn-sm btn-outline-success my-2 my-sm-0' onclick='saveContactRow("+JSON.stringify(client+table_len)+")'>Save</button></li> <li><button class='delete align-middle btn btn-sm btn-outline-danger my-2 my-sm-0' onclick='deleteContactRow("+JSON.stringify(client+table_len)+")'>Delete</button></li> <li><button id='edit_button"+client+table_len+"' class ='edit align-middle btn btn-sm btn-outline-secondary my-2 my-sm-0' onclick='editContactRow("+JSON.stringify(client+table_len)+")'>Edit</button></li> <li><button id='cancel_button"+client+table_len+"' class='cancel align-middle btn btn-sm btn-outline-secondary my-2 my-sm-0' onclick='cancelContactChanges("+JSON.stringify(client+table_len)+")'>Cancel</button></li></ul></td></tr>";
    		  document.getElementById("newDuration").value="";
      	  document.getElementById("newPosition"+client).value="";
      		document.getElementById("newName"+client).value="";
      		document.getElementById("save_button"+client+table_len).disabled = true;
      		document.getElementById("cancel_button"+client+table_len).hidden = true;
			  }})
			  .catch((e) => console.log(e.response.data.error))
			};
			addCoverageContacts(data);
			
		} else if (client === 'CC') {
		  var newFidessaAdvocate= document.getElementById("newFidessaAdvocate").value;
		  
		  const data = {
		    position: newPosition,
		    name: newName,
		    fidessaAdvocate: newFidessaAdvocate,
		    mpid: mpid,
		  }
		  
		  const addClientDetails = (data) => {
		    axios.post(`/clients`, data)
		    .then((res) => { if (res.status === 200) {
		      var table=document.getElementById("clientContacts");
    			var table_len=(table.rows.length)-1;
    			console.log(table_len)
    			var row = table.insertRow(table_len).outerHTML="<tr id='row"+client+table_len+"'><td id='positionRow"+client+table_len+"'>"+newPosition+"</td><td id='nameRow"+client+table_len+"'>"+newName+"</td><td id='advocateRow"+client+table_len+"'>"+newFidessaAdvocate+"</td><td><ul><li><button id='save_button"+client+table_len+"' class='save align-middle btn btn-sm btn-outline-success my-2 my-sm-0' onclick='saveContactRow("+JSON.stringify(client+table_len)+")'>Save</button></li> <li><button class='delete align-middle btn btn-sm btn-outline-danger my-2 my-sm-0' onclick='deleteContactRow("+JSON.stringify(client+table_len)+")'>Delete</button></li> <li><button id='edit_button"+client+table_len+"' class ='edit align-middle btn btn-sm btn-outline-secondary my-2 my-sm-0' onclick='editContactRow("+JSON.stringify(client+table_len)+")'>Edit</button></li> <li><button id='cancel_button"+client+table_len+"' class='cancel align-middle btn btn-sm btn-outline-secondary my-2 my-sm-0' onclick='cancelContactChanges("+JSON.stringify(client+table_len)+")'>Cancel</button></li></ul></td></tr>";
    		  document.getElementById("newFidessaAdvocate").value="";
    		  document.getElementById("newPosition"+client).value="";
      		document.getElementById("newName"+client).value="";
      		document.getElementById("save_button"+client+table_len).disabled = true;
      		document.getElementById("cancel_button"+client+table_len).hidden = true;
		    }}) 
			.catch((e) => console.log(e.response.data.error))
		};
		addClientDetails(data);
	  }
		document.activeElement.blur()
	  }
	}
	
	function editContactRow(clientNo) {
	  var client = clientNo.slice(0,2)
	  var no = clientNo.slice(2)
	  
	  var row=document.getElementById("row"+client+no);
	  var cell = row.getElementsByTagName("td");
	  var oldValue1 = cell[0].innerText;
	  var oldValue2 = cell[1].innerText;
	  var oldValue3 = cell[2].innerText;
	  
	  document.getElementById("positionRow"+client+no).contentEditable = true;
	  document.getElementById("nameRow"+client+no).contentEditable = true;
	  if (client === "FC") {
	    document.getElementById("durationRow"+client+no).contentEditable = true;
	  } else if (client === "CC") {
	    document.getElementById("advocateRow"+client+no).contentEditable = true;
	  }
	  document.getElementById("save_button"+client+no).disabled = false;
	  document.getElementById("cancel_button"+client+no).hidden = false;
	  document.getElementById("edit_button"+client+no).disabled = true;
	  document.activeElement.blur()
	  
	 var oldValues = oldValue1 + '|' + oldValue2 + '|' + oldValue3;
	 document.getElementById("hiddenEntry").innerHTML = oldValues
	}
	
	function saveContactRow(clientNo) {
	  var client = clientNo.slice(0,2)
	  var no = clientNo.slice(2)

	  var row=document.getElementById("row"+client+no);
	  var cell = row.getElementsByTagName("td");
	  var newValue1 = cell[0].innerText;
	  var newValue2 = cell[1].innerText;
	  var newValue3 = cell[2].innerText;
	  
		document.getElementById("positionRow"+client+no).innerHTML=newValue1;
		document.getElementById("nameRow"+client+no).innerHTML=newValue2;
		if (client === "FC") {
		  document.getElementById("durationRow"+client+no).innerHTML=newValue3;
		} else if (client === "CC") {
		  document.getElementById("advocateRow"+client+no).innerHTML=newValue3;
		}
		document.getElementById("cancel_button"+client+no).hidden = true;
	  document.getElementById("edit_button"+client+no).disabled = false;
	  
	  document.getElementById("positionRow"+client+no).contentEditable = false;
	  document.getElementById("nameRow"+client+no).contentEditable = false;
	  if (client === "FC") {
	    document.getElementById("durationRow"+client+no).contentEditable = false;
	  } else if (client === "CC") {
	    document.getElementById("advocateRow"+client+no).contentEditable = false;
	  }
	  document.getElementById("save_button"+client+no).disabled = true;
	}
	
	function deleteContactRow(clientNo) {
	  var client = clientNo.slice(0,2)
	  var no = clientNo.slice(2)
	  document.getElementById("row"+client+no+"").outerHTML="";
	}
	
	function cancelContactChanges(clientNo){
	  var client = clientNo.slice(0,2)
	  var no = clientNo.slice(2)
	  var oldValues = document.getElementById("hiddenEntry").innerHTML
	  var old = oldValues.split('|')
	  
	  document.getElementById("positionRow"+client+no).innerHTML=old[0];
		document.getElementById("nameRow"+client+no).innerHTML=old[1];
		if (client === "FC") {
		  document.getElementById("durationRow"+client+no).innerHTML=old[2];
		} else if (client === "CC") {
		  document.getElementById("advocateRow"+client+no).innerHTML=old[2];
		}
		
		document.getElementById("cancel_button"+client+no).hidden = true;
	  document.getElementById("edit_button"+client+no).disabled = false;
	  document.getElementById("save_button"+client+no).disabled = true;
	  
	  document.getElementById("positionRow"+client+no).contentEditable = false;
	  document.getElementById("nameRow"+client+no).contentEditable = false;
	  if (client === "FC") {
	    document.getElementById("durationRow"+client+no).contentEditable = false;
	  } else if (client === "CC") {
	    document.getElementById("advocateRow"+client+no).contentEditable = false;
	  }
	}
	</script>
	
    <title>JEFFERIES CRM</title>
  </head>
  <body>
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="#">Delivery Management</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                          <li class="nav-item active">
                                    <a class="nav-link" href="#">CRM Home <span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item">
                                    <a class="nav-link" href="#">Edit</a>
                          </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                        </form>
              </div>
            </nav>
  
    <!-- MPID and Address -->
    <div class="container-fluid border border-dark p-3 text-center">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h1><%= source[0].clientMnemonic %></h1>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h1><%= source[0].clientName %></h1>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <a href="" target="_blank"><p><%= bio[0].address %></p>
          </a>
        </div>
      </div>
    </div>

            <!-- Client Bio -->
            <div class="container-fluid border border-dark p-5 text-center">
                        <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                                <h1>Client Bio</h1>
												<div id="clientBio">
													<p id="clientBioText"><%= bio[0].clientBio %></p>
													<div class="editButton">
														<button id="editButton1" class="btn btn-sm btn-outline-secondary my-2 my-sm-0" type="button" data-toggle="collapse" data-target="#editClientBio" aria-expanded="false" aria-controls="editClientBio">
														Edit
														</button>
													</div>
													<div class="row">
														<div class="col">
															<div class="collapse multi-collapse" id="editClientBio">
																<div class="card card-body">
																	<textarea class="form-control" id="editClientBioTextArea" rows="3"></textarea>
																	<ul>
																	<li>
																	<div class="row">
																		<div class="col">
																			<button type="submit" class="btn btn-sm btn-outline-success my-2 my-sm-0" onclick='saveBio("<%= source[0].clientMnemonic %>")'>Save</button>
																		</div>
																	</div>
																	</li>
																	<li>
																	<div class="row">
																		<div class="col">
																			<button type="cancel" class="btn btn-sm btn-outline-secondary my-2 my-sm-0" onclick='cancelBio()'>Cancel</button>
																		</div>
																	</div>
																	</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
                                    </div>
                        </div>
            </div>
            
    <!-- SharePoint Information -->
    <div class="container-fluid border border-dark p-5">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h1 class="text-center">Client Information</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card border-dark mb-3" >
            <div class="card-header text-center">Service</div>
            <div class="card-body">
              <h5 class="card-title text-center"><%= source[0].service %></h5>
          </div>
         </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card border-dark mb-3" >
            <div class="card-header text-center">Service Line</div>
            <div class="card-body">
              <h5 class="card-title text-center"><%= source[0].serviceLine %></h5>
          </div>
         </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card border-dark mb-3" >
            <div class="card-header text-center">Sub Region</div>
            <div class="card-body">
              <h5 class="card-title text-center"><%= source[0].subRegion %></h5>
          </div>
         </div>
        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card border-dark mb-3" >
            <div class="card-header text-center">Class</div>
            <div class="card-body">
              <h5 class="card-title text-center"><%= source[0].clientClass %></h5>
          </div>
         </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card border-dark mb-3" >
            <div class="card-header text-center">Service Platform</div>
            <div class="card-body">
              <h5 class="card-title text-center"><%= source[0].servicePlatform %></h5>
          </div>
         </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card border-dark mb-3" >
            <div class="card-header text-center">Active/Inactive Date</div>
            <div class="card-body">
              <h5 class="card-title text-center"><%= source[0].goLiveDate %></h5>
          </div>
         </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card border-dark mb-3" >
            <div class="card-header text-center">Status</div>
            <div class="card-body">
              <h5 class="card-title text-center"><%= source[0].status %></h5>
          </div>
         </div>
        </div>
      </div>
    </div>


    <!-- Systems Information -->
    <div class="container-fluid border border-dark text-center">
                        <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 border border-dark p-5">
                                    <h1>Fidessa Contacts</h1>
            <table class="table table-sm table-bordered" id = "fidessaContacts">
              <thead class="thead-dark">
                <tr>
                  <th class="align-middle" scope="col">Title</th>
                  <th class="align-middle" scope="col">Name</th>
                  <th class="align-middle" scope="col">Duration</th>
                </tr>
              </thead>
              <tbody>
                <% coverage.forEach(function(data, index){ %>
                <tr id = rowFC>
                  <th scope="row"><input type='text' id='newPositionFC' value='<%= data.position %>'></th>
                  <td><input type='text' id='newNameFC' value='<%= data.name %>'></td>
                  <td><input type='text' id='newDuration' value='<%= data.coverageStart %> - <%= data.coverageEnd %>'></td>
				          <!--<td><ul><li><button id="addRowFC" class="add align-middle btn btn-sm btn-outline-success my-2 my-sm-0" type="submit" onclick="addContactRow('FC', '<%= source[0].clientMnemonic %>')">Add Row</button></li></ul></td>-->
		
        				  <script>
          					fillContactRow('FC')
          					<% if (index !== coverage.length - 1) { %>
          					document.getElementById("rowFC").outerHTML="";
          					<% } %>
        				  </script>
        				  <td><ul><li><button id="addRowFC" class="add align-middle btn btn-sm btn-outline-success my-2 my-sm-0" type="submit" onclick="addContactRow('FC', '<%= source[0].clientMnemonic %>')">Add Row</button></li></ul></td>
                </tr>
                <% }); %>
              </tbody>
            </table>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 border border-dark p-5">
          <h1>Client Contacts</h1>
          <table class="table table-sm table-bordered" id="clientContacts">
              <thead class="thead-dark">
                <tr>
                  <th class="align-middle" scope="col">Title</th>
                  <th class="align-middle" scope="col">Name</th>
                  <th class="align-middle" scope="col">Fidessa Advocate?</th>
                </tr>
              </thead>
              <tbody>
                <% client.forEach(function(data, index){ %>
                  <tr id = rowCC>
                    <th scope="row"><input type='text' id='newPositionCC' value='<%= data.position %>'></th>
                    <td><input type='text' id='newNameCC' value='<%= data.name %>'></td>
                    <td><input type='text' id='newFidessaAdvocate' value='<%= data.fidessaAdvocate %>'</td>
          					
          					<script>
          					  fillContactRow('CC')
                      <% if (index !== client.length - 1) { %>
        					    document.getElementById("rowCC").outerHTML="";
        					    <% } %>
          					</script>
          					<td><ul><li><button id="addRowCC" class="add align-middle btn btn-sm btn-outline-success my-2 my-sm-0" type="submit" onclick="addContactRow('CC', '<%= source[0].clientMnemonic %>');">Add Row</button></li></ul></td>
                  </tr>
                  <tr>
                    <td id="hiddenEntry" hidden></td>
                  </tr>
                <% }); %>
              </tbody>
            </table>
        </div>
      </div>
                        <div class="row">
                                    <div class="col-lg-6 col-md-12 col-sm-12 border border-dark p-5">
                                                <h1>Fidessa used Flows</h1>
													<table class="table table-sm table-bordered" id="fidessaFlows">
														<thead class="thead-dark">
															<tr>
															  <th class="align-middle" scope="col">Flow Type</th>
															  <th class="align-middle" scope="col">System</th>
															  <th class="align-middle" scope="col">Comments</th>
															</tr>
														</thead>
														<tbody>
															<% var fidessaUsedFlows = bio[0].flows.filter((item) => item.supported === true && item.system === 'Fidessa' );
															   var fidessaFlowType
															   var systems = []
															   var flow = [{flowType: "Pink Floyd", system: ['Comfortably Numb', 'Brain Damage', 'Wish You Were Here']}, {flowType: "Queen", system: ['Bohemian Rhapsody', 'We are the Champions', 'We Will Rock You']}]
															   fidessaUsedFlows.forEach(function(data){ %>
															   <th scope="row"><input type='text' id='newFlowType' value='<%= data.flowType %>'></th>
															   <td><input type='text' id='newSystem' value='<%= data.system %>'></td>
															   <td><input type='text' id='newComments' value='<%= data.comments %>'></td>
															<% }) %>
															  <td>
                                  <select id="fidessaFlowType" data-style="btn-info" name="selectpicker" onchange="getSystems()">
                                      <optgroup label="Select Flow Type">
                                          <option value="" hidden></option>
                                          <% flow.forEach(function(data){ %>
                                          <option value="<%= data.flowType %>"><%= data.flowType %></option>
                                          <% }) %>
                                          <script>
                                            function getSystems() 
                                            	{
                                            	  var flows = <%- JSON.stringify(flow) %>
                                            	  var fidessaFlowType = document.getElementById("fidessaFlowType").value;
                                                
                                                var systems = flows.filter(data => data.flowType === fidessaFlowType)
                                                
                                                showSystems(systems[0].system)
                                            	}
                                          </script>
                                      </optgroup>
                                  </select>
                                </td>
                                <td>
                                  <select id="system" data-style="btn-info" name="selectpicker">
                                      <optgroup label="Select System">
                                          <option value="" hidden></option>
                                          <script>
                                          function showSystems(systems) {
                                            var select = document.getElementById("system");
                                            if (select.length > 1) {
                                              do {
                                                select.remove(1)
                                              }
                                              while(select.length > 1)
                                              
                                            }
                                          
                                            for(var i = 0; i < systems.length; i++) {
                                              var opt = systems[i];
                                              var el = document.createElement("option");
                                              el.textContent = systems[i];
                                              el.value = systems[i];
                                              select.options.add(el);
                                            }
                                          }
                                          </script>
                                      </optgroup>
                                  </select>
                                </td>
                                <td></td>
                                  <!--<input type="submit" value="Submit" />-->
														</tbody>
													</table>
<!--                                           <div class="list-group">
                                                            <a href="#" class="list-group-item list-group-item-action">Equities</a>
                                                            <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Principal Trading</a>
                                                            <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Market Making</a>
                                                            <a href="#" class="list-group-item list-group-item-action list-group-item-success">OTC Trading</a>
                                                            <a href="#" class="list-group-item list-group-item-action list-group-item-danger">BBSS</a>
                                                            <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Fixed Income</a>
                                                            <a href="#" class="list-group-item list-group-item-action list-group-item-info">Portfolio Trading</a>
                                                            <a href="#" class="list-group-item list-group-item-action list-group-item-light">Algorithmic Trading</a>
                                                            <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Wealth Management</a>
                                                </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 border border-dark p-5">
                                                <h1>Fidessa Supported but not used Flows</h1>
                                                <div class="list-group">
                                                            <a href="#" class="list-group-item list-group-item-action">Derivatives</a>
                                                            <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Global Trading</a>
                                                            <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Futures</a>
                                                            <a href="#" class="list-group-item list-group-item-action list-group-item-success">Options</a>
                                                            <a href="#" class="list-group-item list-group-item-action list-group-item-danger">SEFs and Futurizations</a>
                                                            <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Random stuff</a>
                                                            <a href="#" class="list-group-item list-group-item-action list-group-item-info">Blah Blah</a>
                                                            <a href="#" class="list-group-item list-group-item-action list-group-item-light">More Stuff</a>
                                                            <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Even More Stuff</a>
                                                </div>
                                    </div>-->
                        </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 border border-dark p-5">
                                                <h1>Adjacent Systems</h1>
												<table class="table table-sm table-bordered" id="adjacentSystems">
														<thead class="thead-dark">
															<tr>
															  <th class="align-middle" scope="col">Flow Type</th>
															  <th class="align-middle" scope="col">System</th>
															  <th class="align-middle" scope="col">Comments</th>
															</tr>
														</thead>
														<tbody>
															<% var fidessaAdjacentSystems = bio[0].flows.filter((flow) => flow.adjacent === 'yes')
															   fidessaAdjacentSystems.forEach(function(data){ %>
															   <th scope="row"><input type='text' id='newFlowTypeA' value='<%= fidessaAdjacentSystems.flow.flowType %>'></th>
															   <td><input type='text' id='newSystemA' value='<%= fidessaAdjacentSystems.flow.system %>'></td>
															   <td><input type='text' id='newCommentsA' value='<%= fidessaAdjacentSystems.flow.comments %>'></td>
															<% }) %>
														</tbody>
													</table>
<!--                                           <table class="table table-sm table-bordered">
                                                  <thead class="thead-dark">
                                                            <tr>
                                                              <th class="align-middle" scope="col">System</th>
                                                              <th class="align-middle" scope="col">Workflows</th>
                                                              <th class="align-middle" scope="col">Duration</th>
                                                            </tr>
                                                  </thead>
                                                  <tbody>
                                                            <tr>
                                                              <th scope="row">Raptor</th>
                                                              <td>Order Staging</td>
                                                              <td>2011-Present</td>
                                                            </tr>
                                                            <tr>
                                                              <th scope="row">Bloomberg IOI</th>
                                                              <td>IOI and TA</td>
                                                              <td>2011-Present</td>
                                                            </tr>
                                                  </tbody>
                                                </table>-->
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 border border-dark p-5">
                                                <h1>Non-Adjacent Systems</h1>
												<table class="table table-sm table-bordered" id="nonAdjacentSystems">
														<thead class="thead-dark">
															<tr>
															  <th class="align-middle" scope="col">Flow Type</th>
															  <th class="align-middle" scope="col">System</th>
															  <th class="align-middle" scope="col">Comments</th>
															</tr>
														</thead>
														<tbody>
															<% var fidessaNonAdjacentSystems = bio[0].flows.filter((flow) => flow.adjacent === 'no')
															   fidessaNonAdjacentSystems.forEach(function(data){ %>
															   <th scope="row"><input type='text' id='newFlowTypeNA' value='<%= fidessaNonAdjacentSystems.flow.flowType %>'></th>
															   <td><input type='text' id='newSystemNA' value='<%= fidessaNonAdjacentSystems.flow.system %>'></td>
															   <td><input type='text' id='newCommentsNA' value='<%= fidessaNonAdjacentSystems.flow.comments %>'></td>
															<% }) %>
														</tbody>
													</table>
<!--                                           <table class="table table-sm table-bordered">
                                                  <thead class="thead-dark">
                                                            <tr>
                                                              <th class="align-middle" scope="col">System</th>
                                                              <th class="align-middle" scope="col">Workflows</th>
                                                              <th class="align-middle" scope="col">Duration</th>
                                                            </tr>
                                                  </thead>
                                                  <tbody>
                                                            <tr>
                                                              <th scope="row">Bloomberg FIT</th>
                                                              <td>Fixed Income Trading</td>
                                                              <td>2011-Present</td>
                                                            </tr>
                                                            <tr>
                                                              <th scope="row">Bloomberg Messenger</th>
                                                              <td>Communication</td>
                                                              <td>2011-Present</td>
                                                            </tr>
                                                  </tbody>
                                                </table>-->
                                    </div>
                        </div>
            </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>
